@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.Extensions.Configuration.IConfiguration Config

@{
  ViewData["Title"] = "Log in";
  ViewData["NoMenu"] = true;
}

<div flex-xs layout="row" layout-align="center start">
  <div layout="column" layout-align="flex-end flex-end">
    <form id="loginForm" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" layout-margin class="login-panel">
      <md-card id="loginCard">
        <img src="@Url.Content("~/images/login-header.jpg")" style="height:150px;" class="md-card-image" alt="Winter Road">
        <md-card-content>
          <p>Log in using your @(Config["names::siteTitle"] ?? "SAR Database") username and password.</p>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Username</label>
            <input name="username" ng-model="login.username">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input name="password" ng-model="login.password" type="password">
          </md-input-container>
          <input type="hidden" name="rememberMe" value="true">
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button type="submit" class="md-accent">Login</md-button>
        </md-card-actions>
      </md-card>
    </form>
    <md-button class="md-accent button-lite text-right" href="#">Forgotten Password</md-button>
    <md-button class="md-accent button-lite text-right" href="#">Register</md-button>
  </div>
  @{
    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
    if (loginProviders.Count > 0)
    {
      <div layout="column" layout-align="flex-end flex-end" layout-margin class="login-panel">
        <md-card>
          <img src="@Url.Content("~/images/login-header.jpg")" style="height:150px;" class="md-card-image" alt="Winter Road">
          <md-card-content>
            <p>Log into the @(Config["names::siteTitle"] ?? "SAR Database") using one of your other accounts.</p>
            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
              <div>
                <p>
                  @foreach (var provider in loginProviders)
                  {
                    <md-button type="submit" class="md-raised" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</md-button>
                  }
                </p>
              </div>
            </form>
      </div>
    }
  }
</div>