@inject Microsoft.Extensions.Configuration.IConfiguration Config
@{ 
  
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - @(Config["names::siteTitle"] ?? "SAR Database")</title>
  <script type="text/javascript">window.appRoot = '@Url.Content("~/")';</script>
  <environment names="Development">
    <link rel="stylesheet" href="~/lib/angular-material/angular-material.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"
          asp-fallback-href="~/lib/angular-material/angular-material.min.css"
          asp-fallback-test-class="md-ripple" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
          asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
          asp-fallback-test-class="fa-2x" asp-fallback-test-property="font-size" asp-fallback-test-value="2em" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>
  <environment names="Development">
    <script src="~/lib/angular/angular.js" asp-append-version="true"></script>
    <script src="~/lib/angular-animate/angular-animate.js" asp-append-version="true"></script>
    <script src="~/lib/angular-aria/angular-aria.js" asp-append-version="true"></script>
    <script src="~/lib/angular-messages/angular-messages.js" asp-append-version="true"></script>
    <script src="~/lib/angular-material/angular-material.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="~/js/lib.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>
</head>
<body ng-app="sarDatabase">
  <md-toolbar class="md-primary md-whiteframe-1dp" md-scroll-shrink ng-controller="HeaderCtrl">
    <div class="md-toolbar-tools ng-cloak">
      @if (ViewBag.NoMenu == null)
      {
      <md-button class="md-icon-button" aria-label="Menu">
        <i class="fa fa-bars"></i>
      </md-button>
      }
      <h2>@(Config["names::siteTitle"] ?? "SAR Database")</h2>
      <span flex></span>
      @await Html.PartialAsync("_LoginPartial")
    </div>
  </md-toolbar>
  <md-content class="body-content md-hue-1" flex layout="column">
    @RenderBody()
  </md-content>
  <footer>
    <p>&copy; 2016 - @(Config["names::siteTitle"] ?? "SAR Database") - This project is <a href="https://github.com/mcosand/database-next/">open source</a>.</p>
  </footer>

  @RenderSection("scripts", required: false)
  <form id="antiForgery" asp-antiforgery="true" class="hidden"></form>
</body>
</html>
